.container { width: 960px !important; }

body { background: black; }

#thumbnails {
    margin: 0;
    padding: 41px 0 0 0;
    li {
        input { display: none; }
        list-style: none;
        float: left;

        label {
            margin: 0;
            display: block;
            height: 160px;
        }
        label:hover {
            img  { opacity: .75; }
            background: white;
        }
        input:checked ~ label {
            img  { opacity: .75; }
            &:hover { opacity: .75; }
            background-image: url(../img/check.png);
        }
    }
}

#progress-modal {
    modal-body {
        min-height: 44px;
    }
}
